@font-face {
  src: url("../font/josefin.ttf");
  font-family: myfont;
}

body {
  color: white;
  font-family: myfont;
  background: linear-gradient(to right, #076585, #fff);
}

.headingstyle {
  text-shadow: 2px 2px 10px black;
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.button {
  font-family: myfont;
  background: linear-gradient(to right, #202020	, #404040);
  width: 20%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  opacity: 0.7;
}
.button:active
{
  transform: translateY(2px);
  box-shadow: 0px 0px 10px 1px white;
}

input[type=text], input[type=password] {
  font-family: myfont;
  font-size: 16px;
  width: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 2px 10px 0px black;
}

.container {
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding: 25px;
  background-color: rgba(36, 37, 42, 0.5);
  width: 30%;
  height: 250px;
  margin: auto;
  margin-top: 8%;
  border: 3px solid #f1f1f1;
  text-align: center;
}
