@font-face {
  src: url("../font/productsans.ttf");
  font-family: myfont;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  background-color: LightCyan;
  height: 100%;
  font-family: myfont;
}

#head-div {
  box-sizing: border-box;
  width: 99%;
  height: 100px;
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  margin: 5px 7px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#head-left {
  float: left;
  width: 25%;
}

#logo-div {
  box-sizing: border-box;
  background-image: url("../picture/mainlogo.png");
  background-size: contain;
  height: 80px;
  width: 245px;
  margin-left: 8%;
  margin-top: 2.5%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#head-right {
  float: right;
  width: 75%;
}

#search-bar {
  float: left;
}

#head-search {
  margin: 7% 80px;
  width: 130%;
  height: 10%;
  border-radius: 10px;
  font-size: 20px;
  background-color: PowderBlue;
  border: 1px black;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
  padding: 10px;
}

#profile-div {
  box-sizing: border-box;
  float: right;
  width: 30%;
}

#profile-left {
  float: left;
  width: 25%;
}

#profile-left>a>img {
  margin: 20px 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#profile-right {
  float: right;
  width: 75%;
}

#profile-right>a>p {
  font-size: 25px;
  margin-top: 35px;
  color: black;
}

#profile-right>a {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

#body {
  box-sizing: border-box;
  margin: 5px 7px;
  width: 99%;
  border-radius: 5px;
  height: 100%;
  background-color: transparent;
}

#body-left {
  float: left;
  width: 20%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
  padding-top: 30px;
  text-align: center;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}

#body-left-menu {
  height: 10%;
}

#body-left-menu>button {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  display: block;
}

.body-left-options {
  font-family: myfont;
  margin: auto;
  font-size: 22px;
  color: black;
  border: none;
  padding: 9px 20px;
  background: linear-gradient(to right, #FC766A99, #5B84B166);
  outline: none;
  border: 2px solid #676767;
  border-radius: 100px;
  background-size: 0% 100%;
  transition: 0.25s ease-in-out;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.body-left-options:hover {
  background-size: 100% 100%;
  padding: 10px 20px;
  color: white;
  border-radius: 200px;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#logout-div {
  margin-top: 200px;
}

#logout-div>a>button {
  border: none;
  font-family: myfont;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 22px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  background-color: rgba(80, 80, 80, 0.8);
}

#logout-div>a>button:hover {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

#body-right {

  float: right;
  width: 79.60%;
  height: 100%;
}

.rightcontent {
  display: none;
  background: linear-gradient(to right, #ec008c80, #fc6767B3);
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px black;
}

table {
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

th, td {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 16px;
}
