*{
	box-sizing: border-box;
	margin: 0;
}
body{
	background-color: LightCyan;
}
#head-div {
	box-sizing: border-box;
	width: 98%;
	height: 100px;
	background-color: lightblue;
	border-radius: 10px;
	box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
	margin: 10px 1%;
}
#head-left {
	float: left;
	background-image: url("../picture/mainlogo.png");
	background-size: cover;
	height: 80px;
	width: 250px;
	margin: 10px 8%;
	box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	border :2px solid black;
}
#head-right{
	float:right;
	width: 55%;
	color: black;
	border-radius: 5px;
	margin: 13px 20px;
}
#head-right>p {
	font-size: 44px;
	float: left;
	width: 50%;
	margin-top: 1%;
}
#head-right>a {
	float: right;
	width: 20%;
	border-radius: 10px;
	padding: 10px 20px;
	margin-top: 2%;
	margin-right: 8%;
	font-size: 20px;
	background-color: white; 
	color: black;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 2px 3px 10px 0px rgb(0,0,0);
}
#head-right>a:hover{
	background-color: Steelblue;
	color: white;
	border-radius: 10px;
	box-shadow: 2px 3px 10px 0px rgb(0,0,0);
}

#body-div {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-top: 2%;
	background-color: lightblue;
	border-radius: 10px;
	box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
	padding: 20px 30px;
}