@font-face {
  src: url("../font/josefin.ttf");
  font-family: myfont;
}

html, body {
  font-family: myfont;
  color: black;
  background: linear-gradient(to right, #3a6186, #89253e);
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 5%;
  color: white;
  animation: fade 2s;
  text-shadow: 2px 2px 10px black;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: auto;
}

th, td {
  font-family: myfont;
  color: rgba(10, 10, 10, 1);
  padding: 15px;
  width: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.button {
  font-family: myfont;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  background-color: #d21f3c;
  color: white;
  border: 2px solid #ed2939;
  margin-top: 2%;
}

.button:hover {
  background-color: #f5f5f5;
  color: #d21f3c;
}
#errormessage
{
  margin:0;
}
#blankline
{
  margin:0;
}
