@font-face {
  src: url("../font/alegreyaitalic.ttf");
  font-family: myfont;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: rgba(200, 200, 200, 0.1);
  overflow: hidden;
  user-select: none;
}

.header {
  height: 12%;
  width: 98%;
  background: linear-gradient(to bottom, Steelblue, rgba(0, 0, 0, 0.8));
  border-radius: 15px;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.headerlogo {
  height: 80%;
  width: 15%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  display: block;
  margin-top: 0.4%;
}

.form-div {
  font-family: myfont;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  margin: auto;
  width: 30%;
  margin-top: 8%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.heading {
  background-color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headingtext {
  font-size: 30px;
  margin: 0;
}

.formdesign {
  background-color: rgba(140, 140, 140, 0.1);
  padding: 38px;
}

.inputbox {
  outline: none;
  font-family: monospace;
  margin: auto;
  display: block;
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(56, 56, 56, 0.8);
  width: 50%;
}

.submitbutton {
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.9);
  border: none;
  color: white;
  font-family: myfont;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 2%;
}

.submitbutton:hover {
  box-shadow: 3px 3px 10px 0px rgb(160, 160, 160);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exiticon {
  position: absolute;
  right: 20px;
  top: 25%;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.exiticon:hover {
  color: black;
}

.exitbutton {
  position: absolute;
  right: 20px;
  top: 25%;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}
.exitbutton:hover {
  color: black;
}
