@font-face {
  font-family: myfont;
  src: url(../font/alegreya.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  background-color: #85C1E9;
}

#dash {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: fixed;
}

#col1 {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 17%;
  background-color: steelblue;
  z-index: 1000;
  font-family: myfont;
}

#logo-div {
  box-sizing: border-box;
  background-image: url("../picture/mainlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 10%;
  width: 80%;
  margin: 12% 10%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#home-div {
  font-size: 25px;
  border: 2px solid #262335;
  border-radius: 4px;
  margin: auto;
  width: 45%;
  text-align: center;
  padding: 4px;
}

#home-div>a {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: black;
}

#home-div>a>img {
  height: 30px;
  margin-left: auto;
float: left;


}

.files-heading {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background: lightgray;
  padding: 10px 20px;
  margin-top: 20px;
  color: black;
}

#profile {
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  color: black;
}

#profile-pic {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

#logout-div {
  box-sizing: border-box;
  font-size: 24px;
  color: black;
  position: fixed;
  margin-top: 1%;
  margin-left: 58px;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

#logout-div:hover {
  background-color: Steelblue;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 0px rgb(0, 0, 0);
}

#col2 {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 83%;
}

#pagecontainer {
  height: 100%;
  width: 100%;
}

h1, button {
  padding: 20px;
}

.main {
  width: 100%;
  font-family: myfont;
}

.sub-main {
  width: 30%;
}

.button-one, .button-two, .button-three, .button-four {
  font-size: 20px;
  font-family: myfont;
  border-radius: 5px;
  margin-left: 15%;
  cursor: pointer;
}

/*Button One*/
.button-one {
  padding: 7px 45px;
  outline: none;
  background-color: #27ae60;
  border: none;
  box-shadow: 0 2.5px #95a5a6;
  outline: none;
}

.button-one:hover {
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 3px #95a5a6;
  transform: translateY(5px);
}

/*Button Two*/
.button-two {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: black;
  text-align: center;
  padding: 8px;
  width: 179px;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-two:hover
{
  box-shadow: 0px 0px 10px 1px white;
}
.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}
/*Button Three*/
.button-three {
  position: relative;
  background-color: #f39c12;
  border: none;
  padding: 8px 47.5px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  outline: none;
}

.button-three:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97B1BF;
  color: #000;
}

.button-three:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -47px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s
}

.button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button-four {
  padding: 10px 30px;
  outline: none;
  background-color: #95a5a6;
  border: none;
  color: black;
  margin-top: 10%;
  margin-left: 23%;
  border-radius: 5px;
  box-shadow: 0 3px black;
}

.button-four:hover {
  background-color: #362d26;
  box-shadow: 0 3px #95a5a6;
  color: aliceblue;
}

.button-four:active {
  color: white;
  background-color: #565350;
  box-shadow: 0 3px #95a5a6;
  transform: translateY(5px);
}
